h1	{
	color: #F15F5F;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
}
header {
	color: #F15F5F;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
footer {
    font-family: 'Do Hyeon', sans-serif;
    color: #A6A6A6;
}